@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}

/* sharid style */
.roboto-primary-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.title-color{
    color: #0E0E0E;
}

.primary-btn{
    width: 300px;
    height: 50px;
    padding: 10px 15px;
    font-weight: 700;
    color: #F5F5F5;
    background-color: #006A50;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.4);
}

.body-bg{
    background-color: #F1F1F3;
}

.primary-title{
    font-size: 40px;
    font-weight: 800;
    color: #0E0E0E;
    margin-bottom: 40px;
    
}
.primary-discription{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #0e0e0ec0;
}



/* Nav section */
.nav-info{
    width: 1920px;
}
.nav-contant{
    width: 1280px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-contant .nav-title{
    font-size: 32px;
    
}
.nav-contant .nav-btn{
    width: 110px;
    height: 50px;
    padding: 10px 15px;
    font-weight: 700;
    color: #006A50;
    border: 2px solid #006A50;
    border-radius: 10px;
    letter-spacing: 1px;
    font-size: 16px;
}
.nav-contant .nav-btn:hover{
    background-color: #138367;
    color: #F5F5F5;
    cursor: pointer;
    transition: 1s;
    border: 2px solid #075340;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.4);
}

/* Banner section */
#banner{
    width: 1920px; 
    
}
.banner-info{
    width: 1280px;
    height: 560px;
    background-color: #C6E4D6;
    border-radius: 20px;
    display: flex;
    gap: 80px;
    margin: 20px auto;
}
.banner-contant{
    padding: 20px;
    margin: auto 1px;
    padding: 80px 60px;
    align-items: center;
}
.banner-contant .banner-sub-title{
    font-size: 24px;
    color: #0e0e0e79;
    margin-bottom: 16px;
    
}
.banner-contant .banner-title{
    font-size: 42px;
    color: #0E0E0E;
    margin-bottom: 30px;
}
.banner-info .banner-bgi{
    padding: 80px 60px;
}
.primary-btn:hover{
    width: 300px;
    height: 50px;
    padding: 10px 15px;
    font-weight: 700;
    color: #F5F5F5;
    background-color: #02a87f;
    transition: 1s;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.4);
}

/* pillars section */
#pillars{
    width: 1920px;
}
.pillars-container{
    width: 1280px;
    margin: 80px auto;
}

.pillars-container .pillar-items{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
}


.pillar-items .item-info{
    width: 248px;
    height: 220px;
    background-color: #ffffff;
    padding: 24px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px  rgba(0, 0, 0, 0.2);
}

.item-info img{
    width: 49px;
    height: 53px;
}

.item-info h4{
    font-size: 20px;
    font-weight: 800;
    color: #0E0E0E;
    margin: 24px 0 12px 0;
}

.item-info p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #0e0e0ec0;
}

/* futur-vision section */
#futur-vision{
    width: 1920px;
}
.vison-containers{
    width: 1280px;
    height: 765px;
    margin: 80px auto;
}

.vision-contant1{
    margin-bottom: 32px;
}
.vision-items{
    display: flex;
    gap: 24px;
}

.vision-items .item-info{
    width: 345px;
    height: 290px;
    background-color: #a9c9ff8f;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px  rgba(0, 0, 0, 0.2);
}
.vision-items .item-info:nth-child(2){
    background-color: #09a15d52;
}
.vision-items .item-info:nth-child(2) button{
    background-color: #09a15d;
}
.vision-items .item-info:nth-child(3){
    background-color: #ffc4395d;
}
.vision-items .item-info:nth-child(3) button{
    background-color: #FFC239;
}
.vision-items .item-info img{
    width: 80px;
    height: 80px;
    margin-bottom: 8px;
}
.vision-items .item-info p{
    margin-top: 12px;
}
.vision-items .item-info button{
    width: 122px;
    height: 41px;
    padding: 10px 15px;
    font-weight: 500;
    color: #F5F5F5;
    letter-spacing: .2px;
    background-color: #5490F5;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    margin-top: 20px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.4);
}

.vision-contant2{
    margin-bottom: 32px;
}

.vision-bottom p{
    margin-bottom: 12px;
    
}
.vision-bottom .primary-discription{
    background-image:  url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    padding: 20px;
    
}
.vision-contant3 h5{
    font-size: 20px;
    margin-bottom: 10px;
}