@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}

/* sharid style */
.roboto-primary-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.title-color{
    color: #0E0E0E;
}

/* Nav section */
.nav-info{
    background-color: #F5F5F5;
}
.nav-contant{
    width: 1600px;
    height: 100px;
    margin: 1px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-contant .nav-title{
    font-size: 32px;
    
}
.nav-contant .nav-btn{
    width: 110px;
    height: 50px;
    padding: 10px 20px;
    font-weight: 800;
    color: #006A50;
    border: 2px solid #006A50;
    border-radius: 10px;
}
.nav-contant .nav-btn:hover{
    background-color: #138367;
    color: #F5F5F5;
    cursor: pointer;
    transition: 1s;
    border: 2px solid #075340;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.4)

;
}